*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: linear-gradient(to bottom left, rgb(81, 81, 153), rgb(125, 125, 174), rgb(213, 213, 232));
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    margin-top: -10rem;
}

.container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 2rem 2rem;
}