*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

/* https://source.unsplash.com/random */
body{
    background-image: url("https://images.unsplash.com/photo-1696009228202-70bd4c22f4b7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY5NzU3OTA5MQ&ixlib=rb-4.0.3&q=80&w=1080")/*linear-gradient(to bottom left, rgb(81, 81, 153), rgb(125, 125, 174), rgb(213, 213, 232))*/;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

h1{
    font-size: 4rem;
    margin-top: 5rem;
    font-weight: 500;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 2rem 2rem;
}

.c-el{
    text-align: center;
}
.c-el span{
    font-size: 1.3rem;
}