*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    flex-wrap: wrap;
}

/* #notesApp{
    height: 300px;
    width: 500px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 5px 6px 0  white;
    flex-wrap: wrap;
}*/


#addBtn{
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
    height: 400px;
    margin-bottom: 5rem;
}

.note .tools{
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.note .main{
    background-color: #ebe1e1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.note .textarea{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.note .hidden{
    display: none;
}