*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

#container{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 3%;
    overflow: hidden;
}

#container img{
    position: relative;
    height: 90%;
    width: 100%;
    object-fit: cover;
}

#container i{
    position: absolute;
    color: white;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.4s ease;
    /* opacity: 0; */
}

/* #container i.active{
    transform: translate(-50%, -50%) scale(1)
} */

.this{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11%;
    width: 100%;
    margin-top: -2%;
    /* border: 1px solid red; */
}

.this #likeBtn{
    height: 100%;
    width: 100%;
    background-color: white;
    color: #111;
    cursor: pointer;
    border: none;
}

.likeCount{
    height: 100%;
    width: 100%;
    border: 2% solid black;
    background-color:#111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}