*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid black;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.stories{
    height: 80px;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ededed;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-evenly;
}

.story{
    width: 65px;
    height: 65px;
    border: 3px solid red;
    border-radius: calc(50%);
    overflow: hidden;
    margin-right: 2px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.showStory{
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    background-size: cover;
    background-position: center;
}



@media (max-width:1000px) {
    .container{
        height: 550px;
        width: 280px;
        position: relative;
        background-color: #fff;
        color: #428ca5;
        border-radius: 3%;
        border: 1px solid black;
        overflow: hidden;
    }
    .stories{
        height: 100px;
        width: 100%;
        padding: 2%;
    }
    
    .story{
        height: 70px;
    border: 3px solid red;
    border-radius: 50%;
    width: 70px;
    }
}


@media (max-width:760px) {
    .container{
        height: vmin;
        width: vmax;
        position: relative;
        background-color: #fff;
        color: #428ca5;
        border-radius: 3%;
        border: 1px solid black;
        overflow: hidden;
    }
    .stories{
        height: 100px;
        width: 100%;
        padding: 2%;
    }
    
    .story{
        height: 70px;
    border: 3px solid red;
    border-radius: 50%;
    width: 70px;
    }
}