*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    margin: 0;
    font-family: cursive;
    color: #777;
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    flex-wrap: wrap; */
}

.heading1{
    text-align: center;
    color: rebeccapurple;
    font-size: 4rem;
    opacity: 0.4;
}

.sup {
    margin-left: -20px;
    vertical-align: super;
    font-size: 1rem;
}

.sup #supUl{
   font-size: 1rem;
   list-style-type: none;
   margin-left: 520px;
   margin-top: -40px;
}

#form{
    width: 400px;
    max-width: 100%;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

#input{
    font-size: 2rem;
    width: 100%;
    color: #777;
    display: block;
    padding: 1rem 2rem;
    border: none;
    outline: none;
}

#input::placeholder{
    color: #b5b5b5;
}

.tasks{
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}

.tasks .list.completed{
    color: #d5d5d5;
    text-decoration: line-through;
    cursor: pointer;
}

.hiddenUl{
    display: none;
}


/* #todo-container{
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
} */